/*test*/
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3{
color: white;
}

.input-group-prepend span{
width: 50px;
background-color: #edb5bf;
color: black;
border:0 !important;
}


.login_btn{
color: gray;
background-color: #edb5bf;
width: 100px;
font-weight: bold;
}

.login_btn:hover{
color: black;
background-color: #edb5bf;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}