*{
	padding: 0;
	margin: 0;
}

/*index landing page*/
.landing{
  background-image: url("../img/online-study-hd.gif");
  background-size: cover;
  height: 85.5vh;
}


.h2-landing{
   color: #edb5bf;
  text-shadow: 2px 2px #4d6d9a;
  font-family: 'Monoton', cursive;
}

.hr-custom{
  border-top: 3px double;
}

.h4-landing{
  color:  #4d6d9a;
  text-shadow: 2px 2px #99cde3;
  font-family: 'Gayathri', sans-serif;
  font-size: 45px;
}

.a-landing{
  color:  #99cde3;
  font-weight: bolder;
  border-color: #edb5bf;
  font-size: 20px;
  font-family: 'Krona One', sans-serif;
}


.a-landing:hover{
  color: #edb5bf;
  background-color: #5f6366;
  border-color: #99ced3;
}

/*end of index landing page*/

/*navbar*/

.navbar {
  background-color: #5f6366;
  
}
.navbar .navbar-brand {
  color: #99ced3;
  font-weight: bold;

}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #edb5bf;
  font-weight: bold;
}
.navbar .navbar-text {
  color: #99ced3;
  font-weight: bold;
}
.navbar .navbar-text a {
  color: #edb5bf;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #edb5bf; 
}
.navbar .navbar-nav .nav-link {
  color: #99ced3;
  border-radius: .25rem;
  margin: 0 0.25em;
  font-weight: bold;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #edb5bf;
  font-weight: bold;
}
/*.navbar .navbar-nav .dropdown-menu {
  background-color: #5f6366;
  border-color: #4d6d9a;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #99ced3;
  font-weight: bold; 
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #edb5bf;
  background-color: #4d6d9a;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #4d6d9a;
}
*/.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #edb5bf;
  background-color: #4d6d9a;
}
.navbar .navbar-toggle {
  border-color: #4d6d9a;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #4d6d9a;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #99ced3;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #99ced3;
}
.navbar .navbar-link {
  color: #99ced3;
}
.navbar .navbar-link:hover {
  color: #edb5bf;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #99ced3;
    font-weight: bold;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edb5bf;
    font-weight: bold;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edb5bf;
    background-color: #4d6d9a;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #99ced3;
    font-weight: bold;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edb5bf;
    font-weight: bold;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edb5bf;
    background-color: #4d6d9a;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #99ced3;
    font-weight: bold;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edb5bf;
    font-weight: bold;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edb5bf;
    background-color: #4d6d9a;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #99ced3;
    font-weight: bold;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #edb5bf;
    font-weight: bold;
  }

  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #edb5bf;
    background-color: #4d6d9a;
  }
}

/*for dropdown*/
/*.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #99ced3;
  font-weight: bold;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #edb5bf;
  font-weight: bold;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #edb5bf;
  background-color: #4d6d9a;
}*/
/*end of navbar*/


/*footer*/
.footer{
	background-color: #5f6366;
}

.footer-text-custom{
	color: #99ced3;
	font-weight: bold;
}

/*end of footer*/

/*logout*/
.profile-bg {
  /* The image used */
  background-image: url("../img/g-online-learning.jpg");

  /* Set a specific height */
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
/*end of logout*/

/*start of login*/
.user-login{
  background-image: url("../img/girlbitingpencil.jpg");
  height: 100vh;
  position: relative; 
  background-size: cover;
 
}

/*.container{
  min-height: 70.6vh;
  position: relative;
}*/



/*home page*/
.container-home{
  background:linear-gradient(to right,#fcc,#d3d3d3,#fcc)
}

.jumbotron{
  background-image: url("../img/joinus.png");
  height: 70vh;
  position: center; 
  background-size: cover;
}

/*courses.html*/
.coursware-courses{
   background:linear-gradient(to right ,#fcc,#99ced3,#edb5bf, #99ced3,#fcc)
}

/*addcourse*/
.add-bg {
  /* The image used */
  background-image: url("../img/yougotthis.jpg");

  /* Set a specific height */
  height: 100vh;
  position: relative; 
  background-size: cover;
}

/*home*/
.a-home{
  color:  #4d6d9a;
  font-weight: bolder;
  border-color: #edb5bf;
  font-size: 20px;
  font-family: 'Krona One', sans-serif;
}
.a-home:hover{
  color: #edb5bf;
  background-color: #5f6366;
  border-color: #99ced3;
}

.card-home{
  color:  #4d6d9a;
  text-shadow: 2px 2px #99cde3;
  font-family: 'Gayathri', sans-serif;

}

.btn-edit{
  font-weight: bolder;
  border-color: #edb5bf;
  color: #5f6366;
  font-size: 1rem;
  font-family: 'Krona One', sans-serif;
}

.btn-edit:hover{
   color: #edb5bf;
  background-color: #5f6366;
  border-color: #99ced3;
}

/*profile*/
.container-profile{
   background:linear-gradient(to right,#fcc,#d3d3d3,#fcc)

}

.jumbotron5{
  height: 100vh;
}

.register{
  color: #5f6366;
  text-shadow: 2px 2px #99cde3;
 font-family: 'Krona One', sans-serif;

}

.btn-sign{
 font-family: 'Krona One', sans-serif; 
}

/*socmed icons*/
.fa-facebook:hover {
  color: #3b5999;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-pinterest:hover {
  color: #bd081c;
}

.fa-linkedin-in:hover {
  color: #0e76a8;
}

.login1{
  color: #edb5bf;
  text-shadow: 2px 2px #99cde3;
 font-family: 'Krona One', sans-serif;

}

.a-reg{
  color: #555f61;
  font-weight: bolder;
  border-color: #555f61;
  font-size: 20px;
  font-family: 'Krona One', sans-serif;
  background-color: 
}
.a-reg:hover{
  color: #edb5bf;
  background-color: #5f6366;
  border-color: #99ced3;
}

.card-a{
  background-color: #f2f3f4;
}

.name-a{
  font-family: 'Krona One', sans-serif;
  color: #131516;
}

.name-b{
  font-family: 'Krona One', sans-serif;

}